@model IEnumerable<Customer>
@{
    ViewData["Title"] = " Liste Clients";
}

<div class="m-5 d-flex justify-content-between">
    <h2> Liste des Clients </h2>
</div>


<form method="get">
    <div class="mb-3">
        <label>Name </label>
        <input type="text" name="searchString" />
    </div>
    <div>
    <input type="submit" value="Recherche" />
    </div>
</form>

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var customer in Model)
        {
            <tr>
                <td> @customer.IdCustomer</td>
                <td> @customer.Lastname </td>
                <td> @customer.Firstname </td>
                <td>
                    <a  asp-controller="Customer" 
                        asp-action="Detail" 
                        asp-route-id="@customer.IdCustomer" 
                        class="btn-info btn">Details </a>
                    <a  asp-controller="Customer" 
                        asp-action="Delete" 
                        asp-route-id="@customer.IdCustomer" 
                        class="btn-danger btn">Supprimer </a>
                </td>

            </tr>
        }
    </tbody>
</table>